default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      # Линтер
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      # Форматтер
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: name-tests-test
        args: ['--pytest-test-first']
        exclude: ^tests/helpers/

  - repo: local
    hooks:
      - id: django-check
        name: Django Check
        entry: python src/manage.py check
        language: system
        pass_filenames: false
        always_run: true

      - id: django-migrations-check
        name: Check for missing migrations
        entry: python src/manage.py makemigrations --check --dry-run
        language: system
        pass_filenames: false
        always_run: true
